body {
    margin: 0px;
    padding: 0px;
}

.top-banner {
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-text {
    text-align: center;
    padding: 200px 180px;
    background-color: azure;

}